<br>
<div class="container-fluid center">
  <div class="container chart">
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :name, class: "black-text min-text-size" %>
      <%= f.text_field :name %>

      <%= f.label :password, class: "black-text min-text-size" %>
      <%= f.password_field :password %>

      <%= f.submit "Login", class: "btn black" %>
    <% end %>
  </div>
</div>
