<div class="container-fluid center">
  <h1>Stats Comparison for:
    <br>
    <%= @user.summoner_name %> Vs. <%= @pro_stats.summoner_name %>
    <br>
    Kills / Deaths / Assists / KDA
  </h1>
  <%= high_chart("kda_chart", @kda_chart) %>
  <br>
  <%= high_chart("other_chart", @other_chart) %>
  <br>
  <div class="container-fluid center">
    <div class="row">
      <div class="col s6">
        <h1><%= @user.summoner_name %></h1>
        <ul class="collection">
          <% champions = @user_stats[:champions_ids].to_a %>
          <%= render partial: "partials/frequent_champion_card", collection: champions, as: :champion %>
        </ul>
      </div>
      <div class="col s6">
        <h1><%= @pro_stats.summoner_name %></h1>
        <ul class="collection">
          <%= binding.pry %>
          <% champions = @pro_stats.averages[:champions_ids].to_a %>
          <%= render partial: "partials/frequent_champion_card", collection: champions, as: :champion %>
        </ul>
      </div>
    </div>
  </div>
</div>
