<div class="container-fluid center">
  <%= link_to "Logout", logout_path %>
  <% if current_user && current_user.summoner_name.nil? %>
    <%= link_to "Add Summoner Name/Region", edit_user_path(session[:user_id]) %>
  <% end %>

  <h1><%= @user.name %>'s Dashboard</h1>
  <h3>Region: <%= @user.region %></h3>
  <h3>Summoner Name: <%= @user.summoner_name %></h3>
  <% if @user.summoner_name && @user.region %>
    <h3>Summoner ID: <%= @presenter.show_summoner_id %></h3>
  <% end %>
  <div class="container">
    <div class="card-panel kda black">
      <div class="card-content text-match-background">
        <h3><span class="card-title text-match-background">10 Most Recent Games' Averages</span></h3>
        <br>
        Kills: <%= @games_averages[:kills] %> Deaths: <%= @games_averages[:deaths] %> Assists: <%= @games_averages[:assists] %>
        <br>
        KDA: <%= @games_averages[:kda] %>
      </div>
    </div>
  </div>
<br>
<%= render partial: 'game_card', collection: @games, as: :game %>
