<div class="container-fluid center">
    <h1>SummonerStats</h1>
    <% if current_user %>
      <h2>Hello, <%= current_user.name %></h2>
    <% end %>

    <a class="dropdown-button btn" href="#" data-activates='dropdown2'>Menu</a>
    <ul id='dropdown2' class='dropdown-content'>
    <% if current_user %>
      <li><%= link_to "Logout", logout_path %></li>
    <% else %>
      <li><%= link_to "Login", new_session_path %></li>
      <li><%= link_to "Create Account", new_user_path %></li>
      <li><%= link_to "Login with Twitter", twitter_login_path %></li>
    <% end %>
    </ul>
</div>
<div class="center">
  <%= image_tag("background-lower.png", class: "background-lower-image") %>
</div>
<%= image_tag("heimer_poro.png", class: "heimer-poro") %>
<%= image_tag("braum_poro.png", class: "braum-poro") %>
<%= image_tag("draven_poro.png", class: "draven-poro") %>
